- **Write a program to read roll numbers and marks of four students and create a dictionary from it having roll numbers as keys.**

In [1]:
students = {}
for i in range(11):
    roll = int(input(f"Enter roll number of student {i+1}: "))
    marks = int(input(f"Enter marks of student {i+1}: "))
    students[roll] = marks
print("Student Dictionary (Roll No : Marks)")
print(students)

Student Dictionary (Roll No : Marks)
{1: 52, 2: 74, 3: 79, 4: 69, 5: 56, 6: 79, 7: 26, 8: 70, 9: 58, 10: 55, 11: 63}

- **Write a program to create a phone dictionary for all your friends and print each key value pair in separate lines.**

In [5]:
phone_book = {
    "Rahul": "9876543210",
    "Anita": "9123456780",
    "Suresh": "9988776655",
    "Priya": "9012345678",
    "Amit": "8899776655",
    "Kiran": "9876501234",
    "Pooja": "9765432109",
    "Rohit": "9345678123",
    "Sneha": "9988123456",
    "Neha": "9123456709",

    "Arjun": "9812345670",
    "Riya": "9823456781",
    "Vikas": "9834567892",
    "Nisha": "9845678903",
    "Manoj": "9856789014",
    "Kavita": "9867890125",
    "Deepak": "9878901236",
    "Swati": "9889012347",
    "Alok": "9890123458",
    "Meena": "9901234569",

    "Pankaj": "9912345670",
    "Shalini": "9923456781",
    "Sanjay": "9934567892",
    "Renu": "9945678903",
    "Ajay": "9956789014",
    "Sunita": "9967890125",
    "Nitin": "9978901236",
    "Kajal": "9989012347",
    "Vivek": "9990123458",
    "Anjali": "9001234569",

    "Gaurav": "9012345601",
    "Preeti": "9023456702",
    "Mohit": "9034567803",
    "Komal": "9045678904",
    "Rakesh": "9056789015",
    "Shweta": "9067890126",
    "Yogesh": "9078901237",
    "Pallavi": "9089012348",
    "Harsh": "9090123459",
    "Isha": "9101234560",

    "Abhishek": "9112345671",
    "Divya": "9123456782",
    "Kunal": "9134567893",
    "Aarti": "9145678904",
    "Lokesh": "9156789015",
    "Monika": "9167890126",
    "Sachin": "9178901237",
    "Payal": "9189012348",
    "Tarun": "9190123459",
    "Rashmi": "9201234560",

    "Varun": "9212345671",
    "Priti": "9223456782",
    "Hemant": "9234567893",
    "Sonal": "9245678904",
    "Dinesh": "9256789015",
    "Bhavna": "9267890126",
    "Akash": "9278901237",
    "Madhu": "9289012348",
    "Ravi": "9290123459",
    "Simran": "9301234560",

    "Naveen": "9312345671",
    "Chitra": "9323456782",
    "Prakash": "9334567893",
    "Seema": "9345678904",
    "Umesh": "9356789015",
    "Namita": "9367890126",
    "Rohini": "9378901237",
    "Ashok": "9389012348",
    "Juhi": "9390123459",
    "Dev": "9401234560"
}
for name, phone in phone_book.items():
    print(name, ":", phone)

Rahul : 9876543210
Anita : 9123456780
Suresh : 9988776655
Priya : 9012345678
Amit : 8899776655
Kiran : 9876501234
Pooja : 9765432109
Rohit : 9345678123
Sneha : 9988123456
Neha : 9123456709
Arjun : 9812345670
Riya : 9823456781
Vikas : 9834567892
Nisha : 9845678903
Manoj : 9856789014
Kavita : 9867890125
Deepak : 9878901236
Swati : 9889012347
Alok : 9890123458
Meena : 9901234569
Pankaj : 9912345670
Shalini : 9923456781
Sanjay : 9934567892
Renu : 9945678903
Ajay : 9956789014
Sunita : 9967890125
Nitin : 9978901236
Kajal : 9989012347
Vivek : 9990123458
Anjali : 9001234569
Gaurav : 9012345601
Preeti : 9023456702
Mohit : 9034567803
Komal : 9045678904
Rakesh : 9056789015
Shweta : 9067890126
Yogesh : 9078901237
Pallavi : 9089012348
Harsh : 9090123459
Isha : 9101234560
Abhishek : 9112345671
Divya : 9123456782
Kunal : 9134567893
Aarti : 9145678904
Lokesh : 9156789015
Monika : 9167890126
Sachin : 9178901237
Payal : 9189012348
Tarun : 9190123459
Rashmi : 9201234560
Varun : 9212345671
Priti : 9223456782
Hemant : 9234567893
Sonal : 9245678904
Dinesh : 9256789015
Bhavna : 9267890126
Akash : 9278901237
Madhu : 9289012348
Ravi : 9290123459
Simran : 9301234560
Naveen : 9312345671
Chitra : 9323456782
Prakash : 9334567893
Seema : 9345678904
Umesh : 9356789015
Namita : 9367890126
Rohini : 9378901237
Ashok : 9389012348
Juhi : 9390123459
Dev : 9401234560

- **Given a dictionary M which stores the marks of the students of class with roll numbers as the keys and marks as the values. Write a program to check if anyone has scored marks as 89.9.**

In [6]:
# Given dictionary of roll numbers and marks
M = {
    101: 78.5,
    102: 89.9,
    103: 67.0,
    104: 92.3,
    105: 81.4
}

# Check for marks 89.9
if 89.9 in M.values():
    print("Yes, a student has scored 89.9 marks.")
else:
    print("No student has scored 89.9 marks.")

Yes, a student has scored 89.9 marks.

- **Write a program to create a dictionary M which stores the marks of the students of class with roll numbers as the keys and marks as the values. Get the number of students as input.**

In [3]:
M = {}   # empty dictionary
n = int(input("Enter number of students: "))
for i in range(n):
    roll = int(input("Enter roll number: "))
    marks = int(input("Enter marks: "))
    M[roll] = marks

print("Dictionary of Roll Numbers and Marks:")
print(M)

Dictionary of Roll Numbers and Marks:
{1: 58, 2: 96, 3: 45, 4: 55, 5: 69, 6: 74, 7: 45, 8: 14, 9: 42, 10: 25, 11: 36, 12: 70, 14: 85, 15: 64, 16: 52, 17: 58, 18: 44}

- **Consider dictionary M created in the previous example. Write a program to modify the marks of a roll number. Obtain the roll number as input**

In [4]:
# Program to modify marks of a given roll number

roll = int(input("Enter roll number to modify marks: "))

if roll in M:
    new_marks = int(input("Enter new marks: "))
    M[roll] = new_marks
    print("Marks updated successfully.")
else:
    print("Roll number not found.")

print("Updated Dictionary:")
print(M)

Marks updated successfully.
Updated Dictionary:
{1: 55, 2: 96, 3: 45, 4: 55, 5: 69, 6: 74, 7: 45, 8: 14, 9: 42, 10: 25, 11: 36, 12: 70, 14: 85, 15: 64, 16: 52, 17: 58, 18: 44}

- **Write a program to create a dictionary namely Numerals from following two lists.**

In [2]:
list2 = [1, 2, 3, 4, 5]
list1 = ["One", "Two", "Three", "Four", "Five"]

Numerals = {}
for i in range(len(list1)):
    Numerals[list1[i]] = list2[i]
print("Numerals Dictionary:", Numerals)

Numerals Dictionary: {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

- **Write a program to add new students' roll numbers and marks in the dictionary M created with roll numbers as the keys and marks as the values.**

In [4]:
# Existing dictionary
M = {
    1: 85,
    2: 78,
    3: 90
}

# Input number of new students
n = int(input("Enter number of new students: "))

# Adding new students
for i in range(n):
    roll = int(input("Enter roll number: "))
    marks = int(input("Enter marks: "))
    M[roll] = marks

# Display updated dictionary
print("Updated Dictionary M:")
print(M)

Updated Dictionary M:
{1: 85, 2: 78, 3: 90, 4: 55, 5: 85}

- **A Dictionary contains details of two workers with their names as keys and other details in the form of dictionary as value. Write a program to print the workers' information in records format**

In [ ]:
workers = {
    "Ramesh": {"Age": 25, "Department": "HR", "Salary": 20000},
    "Suresh": {"Age": 26, "Department": "Sales", "Salary": 21000},
    "Mahesh": {"Age": 27, "Department": "IT", "Salary": 22000},
    "Rajesh": {"Age": 28, "Department": "Finance", "Salary": 23000},
    "Naresh": {"Age": 29, "Department": "Production", "Salary": 24000},
    "Dinesh": {"Age": 30, "Department": "Quality", "Salary": 25000},
    "Rohit": {"Age": 31, "Department": "HR", "Salary": 26000},
    "Amit": {"Age": 32, "Department": "Sales", "Salary": 27000},
    "Sumit": {"Age": 33, "Department": "IT", "Salary": 28000},
    "Ankit": {"Age": 34, "Department": "Finance", "Salary": 29000},
    "Vikas": {"Age": 25, "Department": "Production", "Salary": 20000},
    "Karan": {"Age": 26, "Department": "Quality", "Salary": 21000},
    "Arjun": {"Age": 27, "Department": "HR", "Salary": 22000},
    "Manoj": {"Age": 28, "Department": "Sales", "Salary": 23000},
    "Sunil": {"Age": 29, "Department": "IT", "Salary": 24000},
    "Pankaj": {"Age": 30, "Department": "Finance", "Salary": 25000},
    "Deepak": {"Age": 31, "Department": "Production", "Salary": 26000},
    "Ashok": {"Age": 32, "Department": "Quality", "Salary": 27000},
    "Pradeep": {"Age": 33, "Department": "HR", "Salary": 28000},
    "Vinod": {"Age": 34, "Department": "Sales", "Salary": 29000},
    "Nitin": {"Age": 25, "Department": "IT", "Salary": 20000},
    "Sachin": {"Age": 26, "Department": "Finance", "Salary": 21000},
    "Sanjay": {"Age": 27, "Department": "Production", "Salary": 22000},
    "Ajay": {"Age": 28, "Department": "Quality", "Salary": 23000},
    "Vijay": {"Age": 29, "Department": "HR", "Salary": 24000},
    "Ravi": {"Age": 30, "Department": "Sales", "Salary": 25000},
    "Mukesh": {"Age": 31, "Department": "IT", "Salary": 26000},
    "Alok": {"Age": 32, "Department": "Finance", "Salary": 27000},
    "Gaurav": {"Age": 33, "Department": "Production", "Salary": 28000},
    "Shivam": {"Age": 34, "Department": "Quality", "Salary": 29000}
}
for name, details in workers.items():
    print("Worker Name :", name)
    print("Age         :", details["Age"])
    print("Department  :", details["Department"])
    print("Salary      :", details["Salary"])
    print("-" * 35)

Worker Name : Ramesh
Age         : 25
Department  : HR
Salary      : 20000
-----------------------------------
Worker Name : Suresh
Age         : 26
Department  : Sales
Salary      : 21000
-----------------------------------
Worker Name : Mahesh
Age         : 27
Department  : IT
Salary      : 22000
-----------------------------------
Worker Name : Rajesh
Age         : 28
Department  : Finance
Salary      : 23000
-----------------------------------
Worker Name : Naresh
Age         : 29
Department  : Production
Salary      : 24000
-----------------------------------
Worker Name : Dinesh
Age         : 30
Department  : Quality
Salary      : 25000
-----------------------------------
Worker Name : Rohit
Age         : 31
Department  : HR
Salary      : 26000
-----------------------------------
Worker Name : Amit
Age         : 32
Department  : Sales
Salary      : 27000
-----------------------------------
Worker Name : Sumit
Age         : 33
Department  : IT
Salary      : 28000
-----------------------------------
Worker Name : Ankit
Age         : 34
Department  : Finance
Salary      : 29000
-----------------------------------
Worker Name : Vikas
Age         : 25
Department  : Production
Salary      : 20000
-----------------------------------
Worker Name : Karan
Age         : 26
Department  : Quality
Salary      : 21000
-----------------------------------
Worker Name : Arjun
Age         : 27
Department  : HR
Salary      : 22000
-----------------------------------
Worker Name : Manoj
Age         : 28
Department  : Sales
Salary      : 23000
-----------------------------------
Worker Name : Sunil
Age         : 29
Department  : IT
Salary      : 24000
-----------------------------------
Worker Name : Pankaj
Age         : 30
Department  : Finance
Salary      : 25000
-----------------------------------
Worker Name : Deepak
Age         : 31
Department  : Production
Salary      : 26000
-----------------------------------
Worker Name : Ashok
Age         : 32
Department  : Quality
Salary      : 27000
-----------------------------------
Worker Name : Pradeep
Age         : 33
Department  : HR
Salary      : 28000
-----------------------------------
Worker Name : Vinod
Age         : 34
Department  : Sales
Salary      : 29000
-----------------------------------
Worker Name : Nitin
Age         : 25
Department  : IT
Salary      : 20000
-----------------------------------
Worker Name : Sachin
Age         : 26
Department  : Finance
Salary      : 21000
-----------------------------------
Worker Name : Sanjay
Age         : 27
Department  : Production
Salary      : 22000
-----------------------------------
Worker Name : Ajay
Age         : 28
Department  : Quality
Salary      : 23000
-----------------------------------
Worker Name : Vijay
Age         : 29
Department  : HR
Salary      : 24000
-----------------------------------
Worker Name : Ravi
Age         : 30
Department  : Sales
Salary      : 25000
-----------------------------------
Worker Name : Mukesh
Age         : 31
Department  : IT
Salary      : 26000
-----------------------------------
Worker Name : Alok
Age         : 32
Department  : Finance
Salary      : 27000
-----------------------------------
Worker Name : Gaurav
Age         : 33
Department  : Production
Salary      : 28000
-----------------------------------
Worker Name : Shivam
Age         : 34
Department  : Quality
Salary      : 29000
-----------------------------------

- **Consider already created dictionary M that stores roll numbers and marks. Write a program to input a roll number and delete it from the dictionary. Display error message if the roll number does not exist in the dictionary.**

In [6]:
M = {
    101: 85,
    102: 78,
    103: 90,
    104: 88
}
roll = int(input("Enter roll number to delete: "))
if roll in M:
    del M[roll]
    print("Roll number deleted successfully.")
else:
    print("Error: Roll number does not exist.")
print("Updated Dictionary:", M)

Roll number deleted successfully.
Updated Dictionary: {101: 85, 103: 90, 104: 88}

- **The dictionary S stores the roll_numbers:names of the students who have been selected to participate in national event. Write a program to display the roll numbers selected.**

In [7]:
# Dictionary storing roll numbers and names
S = {
    101: "Ravi",
    102: "Amit",
    103: "Neha",
    104: "Priya",
    105: "Karan"
}

# Display roll numbers selected
print("Roll numbers selected for national event:")
for roll in S.keys():
    print(roll)

Roll numbers selected for national event:
101
102
103
104
105

- **Write a program to create a dictionary to store names of states and their capitals.**

In [8]:
states_capitals = {
    # States
    "Andhra Pradesh": "Amaravati",
    "Arunachal Pradesh": "Itanagar",
    "Assam": "Dispur",
    "Bihar": "Patna",
    "Chhattisgarh": "Raipur",
    "Goa": "Panaji",
    "Gujarat": "Gandhinagar",
    "Haryana": "Chandigarh",
    "Himachal Pradesh": "Shimla",
    "Jharkhand": "Ranchi",
    "Karnataka": "Bengaluru",
    "Kerala": "Thiruvananthapuram",
    "Madhya Pradesh": "Bhopal",
    "Maharashtra": "Mumbai",
    "Manipur": "Imphal",
    "Meghalaya": "Shillong",
    "Mizoram": "Aizawl",
    "Nagaland": "Kohima",
    "Odisha": "Bhubaneswar",
    "Punjab": "Chandigarh",
    "Rajasthan": "Jaipur",
    "Sikkim": "Gangtok",
    "Tamil Nadu": "Chennai",
    "Telangana": "Hyderabad",
    "Tripura": "Agartala",
    "Uttar Pradesh": "Lucknow",
    "Uttarakhand": "Dehradun",
    "West Bengal": "Kolkata",

    # Union Territories
    "Andaman and Nicobar Islands": "Port Blair",
    "Chandigarh": "Chandigarh",
    "Dadra and Nagar Haveli and Daman and Diu": "Daman",
    "Delhi": "New Delhi",
    "Jammu and Kashmir": "Srinagar (Summer), Jammu (Winter)",
    "Ladakh": "Leh",
    "Lakshadweep": "Kavaratti",
    "Puducherry": "Puducherry"
}

# Display all states and UTs with capitals
print("Indian States and Union Territories with Capitals:\n")
for state, capital in states_capitals.items():
    print(state, ":", capital)

Indian States and Union Territories with Capitals:

Andhra Pradesh : Amaravati
Arunachal Pradesh : Itanagar
Assam : Dispur
Bihar : Patna
Chhattisgarh : Raipur
Goa : Panaji
Gujarat : Gandhinagar
Haryana : Chandigarh
Himachal Pradesh : Shimla
Jharkhand : Ranchi
Karnataka : Bengaluru
Kerala : Thiruvananthapuram
Madhya Pradesh : Bhopal
Maharashtra : Mumbai
Manipur : Imphal
Meghalaya : Shillong
Mizoram : Aizawl
Nagaland : Kohima
Odisha : Bhubaneswar
Punjab : Chandigarh
Rajasthan : Jaipur
Sikkim : Gangtok
Tamil Nadu : Chennai
Telangana : Hyderabad
Tripura : Agartala
Uttar Pradesh : Lucknow
Uttarakhand : Dehradun
West Bengal : Kolkata
Andaman and Nicobar Islands : Port Blair
Chandigarh : Chandigarh
Dadra and Nagar Haveli and Daman and Diu : Daman
Delhi : New Delhi
Jammu and Kashmir : Srinagar (Summer), Jammu (Winter)
Ladakh : Leh
Lakshadweep : Kavaratti
Puducherry : Puducherry