- Program to find the number is even or odd

In [ ]:
# Even Number
n = int(input("Enter a number: "))
if n % 2 == 0:
    print(f"{n} is an even number.")
else:
    print(f"{n} is not an odd number.")

28 is an even number.

In [3]:
# Odd Number
n = int(input("Enter a number: "))
if n % 2 == 0:
    print(f"{n} is an even number.")
else:
    print(f"{n} is not an odd number.")

21 is not an odd number.

- Program to accept three inetegers and print the largest of three. Make use of only if statement

In [5]:
x = y = z = 0
x = float(input("Enter first number : "))
y = float(input("Enter second number : "))
z = float(input("Enter third number : "))
max = x
if y > max:
    max = y
if z > max:
    max = z
print("Entered first number is : ", x)
print("Entered second number is : ", y)
print("Entered third number is : ", z)
print("The largest number is : ", max)

Entered first number is :  58.0
Entered second number is :  74.0
Entered third number is :  25.0
The largest number is :  74.0

- **Program that inputs three numbers and calculates two sums as per this:**
  - *Sum 1 as the sum of all input numbers*
  - *Sum2 as the sum of non-duplicate numbers; if there are duplicate numbers in the input, ignores them*

In [ ]:
# First Approach

sum1 = sum2 =0
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
n3 = int(input("Enter third number: "))
sum1 = n1 + n2 + n3
if n1 != n2 and n1 != n3:
    sum2 += n1
if n2 != n1 and n2 != n3:
    sum2 += n2
if n3 != n1 and n3 != n2:
    sum2 += n3
print("Numbers are", n1, n2, n3)
print("Sum of three given numbers is", sum1)
print("Sum of non-duplicate numbers is", sum2)

Numbers are 584 5 4
Sum of three given numbers is 593
Sum of non-duplicate numbers is 593

In [6]:
# Second Approach

sum1 = sum2 = 0
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
num3 = int(input("Enter number 3: "))
sum1 = num1 + num2 + num3
if num1 == num2: 
    if num3 != num1: 
        sum2 += num3
else:
    if num1 == num3: 
        sum2 += num2
    else: 
        if num2 == num3: 
            sum2 += num1
        else:
            sum2 = num1 + num2 + num3
print("Numbers are:", num1, num2, num3)
print("Sum of three given numbers is:", sum1)
print("Sum of non-duplicate numbers is:", sum2)

Numbers are: 85 54 52
Sum of three given numbers is: 191
Sum of non-duplicate numbers is: 191

- Program to test the divisibility of a number with another.

In [7]:
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
remainder = n1 % n2
if remainder == 0:
    print(f"{n1} is completely divisible by {n2}")
else:
    print(f"{n1} is not completely divisible by {n2}")

85 is not completely divisible by 45

In [8]:
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
remainder = n1 % n2
if remainder == 0:
    print(f"{n1} is completely divisible by {n2}")
else:
    print(f"{n1} is not completely divisible by {n2}")

50 is completely divisible by 5

- Program to find the multiples of a number out of given five numbers.

In [9]:
print("Enter the five numbers below")
n1 = float(input("Enter number 1: "))
n2 = float(input("Enter number 2: "))
n3 = float(input("Enter number 3: "))
n4 = float(input("Enter number 4: "))
n5 = float(input("Enter number 5: "))
divisor = float(input("Enter the divisor: "))
count = 0
print("Multiple of", divisor, "are:")
remainder = n1 % divisor
if remainder == 0:
    print(n1,sep="")
    count += 1
remainder = n2 % divisor
if remainder == 0:
    print(n2,sep="")
    count += 1
remainder = n3 % divisor
if remainder == 0:
    print(n3,sep="")
    count += 1
remainder = n4 % divisor
if remainder == 0:
    print(n4,sep="")
    count += 1
remainder = n5 % divisor
if remainder == 0:
    print(n5,sep="")
    count += 1
print("Total multiples of", divisor, "are:", count)

Enter the five numbers below
Multiple of 15.0 are:
3450.0
15.0
Total multiples of 15.0 are: 2

- Program to print the tables of numbers

In [12]:
n = 5
for a in range(1, 11):
    product = n * a
    print(f"{n} x {a} = {product}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [14]:
n = 23
for a in range(1, 11):
    product = n * a
    print(f"{n} x {a} = {product}")

23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

In [15]:
n = 89
for a in range(1, 11):
    product = n * a
    print(f"{n} x {a} = {product}")

89 x 1 = 89
89 x 2 = 178
89 x 3 = 267
89 x 4 = 356
89 x 5 = 445
89 x 6 = 534
89 x 7 = 623
89 x 8 = 712
89 x 9 = 801
89 x 10 = 890

- Program to print sum of natural numbers between 1 to 50. Print the sum progressively, i.e., after adding each natural number, print sum so far.

In [18]:
sum = 0
for n in range(1,6):
    sum += n
print("Sum of natural numbers <=",n, "is", sum)

Sum of natural numbers <= 5 is 15

In [1]:
sum = 0

for i in range(1, 51):
    sum += i
    print(f"After adding {i}, sum = {sum}")

After adding 1, sum = 1
After adding 2, sum = 3
After adding 3, sum = 6
After adding 4, sum = 10
After adding 5, sum = 15
After adding 6, sum = 21
After adding 7, sum = 28
After adding 8, sum = 36
After adding 9, sum = 45
After adding 10, sum = 55
After adding 11, sum = 66
After adding 12, sum = 78
After adding 13, sum = 91
After adding 14, sum = 105
After adding 15, sum = 120
After adding 16, sum = 136
After adding 17, sum = 153
After adding 18, sum = 171
After adding 19, sum = 190
After adding 20, sum = 210
After adding 21, sum = 231
After adding 22, sum = 253
After adding 23, sum = 276
After adding 24, sum = 300
After adding 25, sum = 325
After adding 26, sum = 351
After adding 27, sum = 378
After adding 28, sum = 406
After adding 29, sum = 435
After adding 30, sum = 465
After adding 31, sum = 496
After adding 32, sum = 528
After adding 33, sum = 561
After adding 34, sum = 595
After adding 35, sum = 630
After adding 36, sum = 666
After adding 37, sum = 703
After adding 38, sum = 741
After adding 39, sum = 780
After adding 40, sum = 820
After adding 41, sum = 861
After adding 42, sum = 903
After adding 43, sum = 946
After adding 44, sum = 990
After adding 45, sum = 1035
After adding 46, sum = 1081
After adding 47, sum = 1128
After adding 48, sum = 1176
After adding 49, sum = 1225
After adding 50, sum = 1275

- Right-angled triangle pattern

In [31]:
for i in range(1, 21):
    for j in range(i):
        print("G ", end=" ")
    print()

G
G  G
G  G  G
G  G  G  G
G  G  G  G  G
G  G  G  G  G  G
G  G  G  G  G  G  G
G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G

- Inverted right-angled triangle

In [29]:
for i in range(20, 0, -1):
    for j in range(i):
        print("G ", end=" ")
    print()

G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G  G
G  G  G  G  G  G  G  G
G  G  G  G  G  G  G
G  G  G  G  G  G
G  G  G  G  G
G  G  G  G
G  G  G
G  G
G

- Pyramid pattern

In [26]:
n = 20
for i in range(1, n + 1):
    print(" " * (n - i), end="")
    print("G " * i)

                   G
                  G G
                 G G G
                G G G G
               G G G G G
              G G G G G G
             G G G G G G G
            G G G G G G G G
           G G G G G G G G G
          G G G G G G G G G G
         G G G G G G G G G G G
        G G G G G G G G G G G G
       G G G G G G G G G G G G G
      G G G G G G G G G G G G G G
     G G G G G G G G G G G G G G G
    G G G G G G G G G G G G G G G G
   G G G G G G G G G G G G G G G G G
  G G G G G G G G G G G G G G G G G G
 G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G

- Inverted pyramid

In [25]:
n = 20
for i in range(n, 0, -1):
    print(" " * (n - i), end="")
    print("G " * i)

G G G G G G G G G G G G G G G G G G G G
 G G G G G G G G G G G G G G G G G G G
  G G G G G G G G G G G G G G G G G G
   G G G G G G G G G G G G G G G G G
    G G G G G G G G G G G G G G G G
     G G G G G G G G G G G G G G G
      G G G G G G G G G G G G G G
       G G G G G G G G G G G G G
        G G G G G G G G G G G G
         G G G G G G G G G G G
          G G G G G G G G G G
           G G G G G G G G G
            G G G G G G G G
             G G G G G G G
              G G G G G G
               G G G G G
                G G G G
                 G G G
                  G G
                   G

- Square pattern

In [36]:
for i in range(20):
    for j in range(50):
        print("G", end=" ")
    print()

G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G G

- Diamond pattern

In [51]:
n = 15

for i in range(1, n + 1):
    print(" " * (n - i) + "G " * i)

for i in range(n - 1, 0, -1):
    print(" " * (n - i) + "G " * i)

              G
             G G
            G G G
           G G G G
          G G G G G
         G G G G G G
        G G G G G G G
       G G G G G G G G
      G G G G G G G G G
     G G G G G G G G G G
    G G G G G G G G G G G
   G G G G G G G G G G G G
  G G G G G G G G G G G G G
 G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G
 G G G G G G G G G G G G G G
  G G G G G G G G G G G G G
   G G G G G G G G G G G G
    G G G G G G G G G G G
     G G G G G G G G G G
      G G G G G G G G G
       G G G G G G G G
        G G G G G G G
         G G G G G G
          G G G G G
           G G G G
            G G G
             G G
              G

- Hollow square

In [49]:
n = 25
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print("G", end=" ")
        else:
            print(" ", end=" ")
    print()

G G G G G G G G G G G G G G G G G G G G G G G G G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G                                               G
G G G G G G G G G G G G G G G G G G G G G G G G G

- X Pattern

In [48]:
n = 25
for i in range(n):
    for j in range(n):
        if i == j or i + j == n - 1:
            print("G", end=" ")
        else:
            print(" ", end=" ")
    print()

G                                               G
  G                                           G
    G                                       G
      G                                   G
        G                               G
          G                           G
            G                       G
              G                   G
                G               G
                  G           G
                    G       G
                      G   G
                        G
                      G   G
                    G       G
                  G           G
                G               G
              G                   G
            G                       G
          G                           G
        G                               G
      G                                   G
    G                                       G
  G                                           G
G                                               G

- Basic nested for loop

In [56]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i, j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

- Nested for loop using * pattern

In [58]:
for i in range(1, 16):
    for j in range(i):
        print("G", end=" ")
    print()

G
G G
G G G
G G G G
G G G G G
G G G G G G
G G G G G G G
G G G G G G G G
G G G G G G G G G
G G G G G G G G G G
G G G G G G G G G G G
G G G G G G G G G G G G
G G G G G G G G G G G G G
G G G G G G G G G G G G G G
G G G G G G G G G G G G G G G

- Multiplication table (nested loop)

In [62]:
for i in range(1, 11):
    for j in range(1, 101):
        print(i * j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100
2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100	102	104	106	108	110	112	114	116	118	120	122	124	126	128	130	132	134	136	138	140	142	144	146	148	150	152	154	156	158	160	162	164	166	168	170	172	174	176	178	180	182	184	186	188	190	192	194	196	198	200
3	6	9	12	15	18	21	24	27	30	33	36	39	42	45	48	51	54	57	60	63	66	69	72	75	78	81	84	87	90	93	96	99	102	105	108	111	114	117	120	123	126	129	132	135	138	141	144	147	150	153	156	159	162	165	168	171	174	177	180	183	186	189	192	195	198	201	204	207	210	213	216	219	222	225	228	231	234	237	240	243	246	249	252	255	258	261	264	267	270	273	276	279	282	285	288	291	294	297	300
4	8	12	16	20	24	28	32	36	40	44	48	52	56	60	64	68	72	76	80	84	88	92	96	100	104	108	112	116	120	124	128	132	136	140	144	148	152	156	160	164	168	172	176	180	184	188	192	196	200	204	208	212	216	220	224	228	232	236	240	244	248	252	256	260	264	268	272	276	280	284	288	292	296	300	304	308	312	316	320	324	328	332	336	340	344	348	352	356	360	364	368	372	376	380	384	388	392	396	400
5	10	15	20	25	30	35	40	45	50	55	60	65	70	75	80	85	90	95	100	105	110	115	120	125	130	135	140	145	150	155	160	165	170	175	180	185	190	195	200	205	210	215	220	225	230	235	240	245	250	255	260	265	270	275	280	285	290	295	300	305	310	315	320	325	330	335	340	345	350	355	360	365	370	375	380	385	390	395	400	405	410	415	420	425	430	435	440	445	450	455	460	465	470	475	480	485	490	495	500
6	12	18	24	30	36	42	48	54	60	66	72	78	84	90	96	102	108	114	120	126	132	138	144	150	156	162	168	174	180	186	192	198	204	210	216	222	228	234	240	246	252	258	264	270	276	282	288	294	300	306	312	318	324	330	336	342	348	354	360	366	372	378	384	390	396	402	408	414	420	426	432	438	444	450	456	462	468	474	480	486	492	498	504	510	516	522	528	534	540	546	552	558	564	570	576	582	588	594	600
7	14	21	28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140	147	154	161	168	175	182	189	196	203	210	217	224	231	238	245	252	259	266	273	280	287	294	301	308	315	322	329	336	343	350	357	364	371	378	385	392	399	406	413	420	427	434	441	448	455	462	469	476	483	490	497	504	511	518	525	532	539	546	553	560	567	574	581	588	595	602	609	616	623	630	637	644	651	658	665	672	679	686	693	700
8	16	24	32	40	48	56	64	72	80	88	96	104	112	120	128	136	144	152	160	168	176	184	192	200	208	216	224	232	240	248	256	264	272	280	288	296	304	312	320	328	336	344	352	360	368	376	384	392	400	408	416	424	432	440	448	456	464	472	480	488	496	504	512	520	528	536	544	552	560	568	576	584	592	600	608	616	624	632	640	648	656	664	672	680	688	696	704	712	720	728	736	744	752	760	768	776	784	792	800
9	18	27	36	45	54	63	72	81	90	99	108	117	126	135	144	153	162	171	180	189	198	207	216	225	234	243	252	261	270	279	288	297	306	315	324	333	342	351	360	369	378	387	396	405	414	423	432	441	450	459	468	477	486	495	504	513	522	531	540	549	558	567	576	585	594	603	612	621	630	639	648	657	666	675	684	693	702	711	720	729	738	747	756	765	774	783	792	801	810	819	828	837	846	855	864	873	882	891	900
10	20	30	40	50	60	70	80	90	100	110	120	130	140	150	160	170	180	190	200	210	220	230	240	250	260	270	280	290	300	310	320	330	340	350	360	370	380	390	400	410	420	430	440	450	460	470	480	490	500	510	520	530	540	550	560	570	580	590	600	610	620	630	640	650	660	670	680	690	700	710	720	730	740	750	760	770	780	790	800	810	820	830	840	850	860	870	880	890	900	910	920	930	940	950	960	970	980	990	1000

- Write Python code to add the odd numbers up to (and including) a given value N and print the result

In [63]:
N = int(input("Enter the value of N: "))
sum_odd = 0

for i in range(1, N + 1, 2):
    sum_odd += i

print("Sum of odd numbers up to", N, "is:", sum_odd)

Sum of odd numbers up to 25 is: 169

- Write a program to input three numbers and display the largest / smallest number

In [64]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
largest = max(a, b, c)
smallest = min(a, b, c)
print("Largest number:", largest)
print("Smallest number:", smallest)

Largest number: 85
Smallest number: 45

- Write a program to input a 6 digit number and divide it into three 2 digit numbers.

In [65]:
num = int(input("Enter a 6-digit number: "))
part1 = num // 10000        # first two digits
part2 = (num // 100) % 100 # middle two digits
part3 = num % 100          # last two digits
print("First 2-digit number:", part1)
print("Second 2-digit number:", part2)
print("Third 2-digit number:", part3)

First 2-digit number: 20
Second 2-digit number: 39
Third 2-digit number: 78

- Write a program to input a number and then print its first and last digit raised to the length of the number (the number of digits in the number is the length of the number).

In [66]:
num = input("Enter a number: ")
length = len(num)
first_digit = int(num[0])
last_digit = int(num[-1])
print("Length of number:", length)
print("First digit raised to length:", first_digit ** length)
print("Last digit raised to length:", last_digit ** length)

Length of number: 8
First digit raised to length: 16777216
Last digit raised to length: 390625

- Write a Python script to print Fibonacci series' first 20 elements. Some initial elements of a Fibonacci series are :

In [67]:
a, b = 0, 1
print("Fibonacci series (first 20 elements):")
for i in range(20):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci series (first 20 elements):
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

- Write a program to print the table of a given number. The number has to be entered by the user.

In [68]:
num = int(input("Enter a number: "))
print(f"Multiplication Table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Multiplication Table of 58496346:
58496346 x 1 = 58496346
58496346 x 2 = 116992692
58496346 x 3 = 175489038
58496346 x 4 = 233985384
58496346 x 5 = 292481730
58496346 x 6 = 350978076
58496346 x 7 = 409474422
58496346 x 8 = 467970768
58496346 x 9 = 526467114
58496346 x 10 = 584963460